@model DashboardDoctorExaminationViewModel

<tr>
    <td scope="col">@Model.Date</td>
    <td scope="col">@Model.Hour</td>
    <td scope="col">@Model.UserFullName</td>
    <td scope="col" class="text-center">@Model.UserPhoneNumber</td>
</tr>
