@model DashboardStatisticLabViewModel

<h4 class="display-4 text-center">Лаборатория</h4>
<p class="display-6 text-center">Администраторски панел</p>
<hr />
@section Styles {
<link href="~/font-awesome/css/all.min.css" rel="stylesheet" asp-append-version="true" />
<link href="~/css/adminlte.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&amp;display=fallback">
}

<div class="row">
    <div class="col-lg-4 col-4">
        <div class="small-box bg-gradient-info">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>Добави</h3>
                        <p>лаборант</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-user"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="SearchLaborant" class="small-box-footer">Добави <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-4 col-4">
        <div class="small-box bg-gradient-success">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllLaborantCount</h3>
                        <p>лаборанти в базата</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-database" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="AllLaborant" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>

    <div class="col-lg-4 col-4">
        <div class="small-box bg-gradient-warning">
            <div class="row">
                <div class="col-8">
                    <div class="inner text-center">
                        <h3>@Model.AllLaborantOutCount</h3>
                        <p>изтрити лаборанти</p>
                    </div>
                </div>
                <div class="col-4">
                    <div class="icon">
                        <i class="fa fa-trash"></i>
                    </div>
                </div>
            </div>
            <a asp-controller="Administrator" asp-action="AllLaborantOut" class="small-box-footer">Покажи <i class="fas fa-arrow-circle-right"></i></a>
        </div>
    </div>
</div>

<div class="row mt-2" style="padding-top:20px;">
    <div class="offset-4 col-4">
        <article class="info">
            <figure class="icon text-center"><img src="~/images/examination.jpg" alt=""></figure>
            <p class="text-center">   
             <em>
                    <span>Направени тестове</span><br />
                    @*@Model.AllTestCount*@
                </em>
            </p>
            <p class="text-center" id="total-test"></p>
             
        </article>
    </div>
</div>

@section Scripts{
    <script>
        $.get('https://localhost:7183/api/statisticAdminLaboratory',(data)=>{
            $('#total-test').text(data.allTest)
        });
    </script>
}