@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        string name = @ViewBag.UserFirstName != "" ? @ViewBag.UserFirstName : @User.Identity?.Name!;

        if (User.IsInRole(RoleConstants.UserRole))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="User" asp-action="ExaminationForFeedback" title="Examination">Обратна връзка</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="User" asp-action="UserExamination" title="Examination">Моите часове</a>
            </li>
        }

        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Здравей, @name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Изход</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Вход</a>
        </li>
    }
</ul>
